<h1><%= @task.name %></h1>

<h2><%= @task.description %></h2>

<p><a href="<%= @task.id %>/edit">Edit</a></p>
<p><a href="<%= @task.id %>/destroy"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow"
  >Delete Task</a></p>
<p><a href="/tasks">Return to main</a></p>
